:root {
  font-size: 20px;
  --base-background-color: #fbfaf4;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  display: block;
  max-width: 100%;
  height: auto;
}

/*PROPIEDADES COMPARTIDAS*/
.item {
  position: relative;
  /*border: 0.5px black solid;*/
  /*margin: 1px;*/
  box-shadow: 2px 2px 10px #666;
}

/*PROPIEDADES DEL CONTENEDOR*/
#container {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  z-index: 1;
  background: linear-gradient(145deg, #bdc3c7 5%, #2c3e50 95%); /*#f0f0f0;*/
}

/*----SECTION SIZE-----*/
.section {
  width: 98%;
  height: auto;
  margin: 5px auto;
  display: grid;
  background-color: var(--base-background-color);
}

/*-----PAINTING PROPERTIES----*/
/*-----MODELOS DE MUESTRA----*/
.painting {
  padding: 0;
  transition: transform ease 1s;
}

/*PROPIEDADES DE LAS IMAGENES*/
img {
  object-fit: cover;
  display: block;
  position: relative;
}
.image {
  width: 100%;
  height: 100%;
}

/*WELCOME SECTION*/
#welcome {
  height: 100vh;
  width: 100%;
  background-color: #2c3e50;
  display: flex;
  justify-content: center;
  align-items: center; /*or margin: auto*/
  animation: intro 1s ease-in forwards;
}

#welcome > h1 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  color: #ffebcd;
  opacity: 0;
  animation: intro 1s ease-in 1.8s forwards;
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*-----PICASSO SECTION--------*/
.picasso_section {
  grid-template-rows: repeat(4, 100vh);
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "pic-1 pic-1"
    "pic-2 pic-3"
    "pic-4 pic-5"
    "pic-6 pic-6";
  justify-items: center;
  align-items: center;
  color: #fff;
}

#guernica {
  grid-area: pic-1;
  width: 95%;
}

#la_tragedia {
  grid-area: pic-2;
  width: 60%;
  height: 90%;
}

#mujer_que_llora {
  grid-area: pic-3;
  width: 70%;
  height: 90%;
}

#mujer_cuello_armiño {
  grid-area: pic-4;
  width: 80%;
  height: 90%;
}

#mujer_espejo {
  grid-area: pic-5;
  width: 70%;
  height: 90%;
}

#masacre_corea {
  grid-area: pic-6;
  width: 95%;
  height: 95%;
}

/*----VAN GOGH SECTION----*/
.vangogh_section {
  grid-template-rows: repeat(2, 100vh 110vh);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "pic-1 pic-2"
    "pic-3 pic-3"
    "pic-4 pic-5"
    "pic-6 pic-6";
  justify-items: center;
  align-items: center;
}

#terraza {
  grid-area: pic-1;
  width: 80%;
  height: 95%;
}
#las_sillas {
  grid-area: pic-2;
  width: 45%;
  height: 75%;
}

#noche_rodano {
  grid-area: pic-3;
  height: 90%;
  width: 65%;
}

#noche_rodano > img.image,
#noche_estrellada > img.image {
  object-fit: cover contain;
}

#autoretrato {
  grid-area: pic-4;
  height: 90%;
  width: 70%;
}

#autoretrato_2 {
  grid-area: pic-5;
  height: 90%;
  width: 70%;
}

#noche_estrellada {
  grid-area: pic-6;
  height: 90%;
  width: 65%;
}

/*----MONET SECTION----*/
.monet_section {
  grid-template-rows: repeat(3, 60vh);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "pic-1 pic-2"
    "pic-3 pic-3"
    "pic-4 pic-5";
  justify-items: center;
  align-items: center;
}

#las_amapolas {
  grid-area: pic-1;
  width: 60%;
  height: 80%;
}
#crepusculo {
  grid-area: pic-2;
  width: 60%;
  height: 80%;
}

#impresion {
  grid-area: pic-3;
  width: 50%;
  height: 90%;
}

#urraca {
  grid-area: pic-4;
  width: 60%;
  height: 80%;
}

#etretat {
  grid-area: pic-5;
  width: 60%;
  height: 80%;
}

/*---- RENOIR SECTION ----*/
.renoir_section {
  grid-template-rows: repeat(3, 90vh);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "pic-1 pic-2"
    "pic-3 pic-4"
    "pic-5 pic-5";
  justify-items: center;
  align-items: center;
}

#la_bohemienne {
  grid-area: pic-1;
  width: 50%;
  height: 80%;
}

#retrato {
  grid-area: pic-2;
  width: 50%;
  height: 80%;
}

#grenouillere {
  grid-area: pic-4;
  width: 90%;
  height: 60%;
}

#remeros {
  grid-area: pic-3;
  width: 90%;
  height: 80%;
}

#retrato_2 {
  grid-area: pic-5;
  width: 35%;
  height: 96%;
}

/*----CARAVAGGIO SECTION----*/
.caravaggio_section {
  grid-template-rows: repeat(2, 50vh);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "pic-1 pic-2"
    "pic-1 pic-3";
  justify-items: center;
  align-items: center;
}

#pintura-1 {
  grid-area: pic-1;
  width: 50%;
  height: 90%;
}
#medusa {
  grid-area: pic-2;
  width: 55%;
  height: 85%;
}

#prendimiento {
  grid-area: pic-3;
  width: 55%;
  height: 85%;
}

/*--- DALI SECTION ---*/
.dali_section {
  grid-template-rows: repeat(2, 100vh);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "pic-1 pic-1"
    "pic-2 pic-3";
  justify-items: center;
  align-items: center;
}

#persistencia_memoria {
  grid-area: pic-1;
  width: 60%;
  height: 92%;
}

#san_antonio {
  grid-area: pic-2;
  width: 92%;
  height: 92%;
}

#los_elefantes {
  grid-area: pic-3;
  width: 92%;
  height: 92%;
}

/*--- WARHOL SECTION ---*/
.warhol_section {
  grid-template-rows: repeat(2, 70vh);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "pic-1 pic-2"
    "pic-3 pic-3";
  justify-items: center;
  align-items: center;
}

#el_platano {
  grid-area: pic-1;
  width: 50%;
  height: 90%;
}

#mao {
  grid-area: pic-2;
  width: 50%;
  height: 95%;
}

#campbell {
  grid-area: pic-3;
  width: 50%;
  height: 95%;
}
