:root {
  font-size: 20px;
  --base-background-color: #fbfaf4;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*PROPIEDADES COMPARTIDAS*/
.item {
  position: relative;
  /*border: 0.5px black solid;*/
  /*margin: 1px;*/
  box-shadow: 2px 2px 10px #666;
}

/*PROPIEDADES DEL CONTENEDOR*/
#container {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  z-index: 1;
  background: linear-gradient(145deg, #bdc3c7 5%, #2c3e50 95%); /*#f0f0f0;*/
}

/*----SECTION SIZE-----*/
.section {
  position: relative;
  width: 100%;
  height: auto;
  background-color: var(--base-background-color);
}

/*WELCOME SECTION*/
#welcome {
  z-index: 1;
  height: 100vh;
  width: 100%;
  background-color: #2c3e50;
  display: flex;
  /*justify-content: center;
  align-items: center; /*or margin: auto*/
  animation: intro 1s ease-in forwards;
}

#welcome > h1 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 3.5rem;
  color: #ffebcd;
  opacity: 0;
  animation: intro 1s ease-in 2.5s forwards;
  margin: auto;
  align-self: center;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#navbar {
  position: sticky;
  z-index: 5;
  top: 0;
  left: -100px;
  opacity: 0;
  height: 100vh;
  width: 15%;
  background-color: #ffebcd;
  color: #2c3e50;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
  animation: show-up 1s ease-in 1s forwards;
}

@keyframes show-up {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.navlink {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  animation: intro 1s ease-in 2.5s forwards;
  opacity: 0;
}
a.navlink,
a:visited {
  text-decoration: none;
  color: #2c3e50;
  font-family: "Alegreya Sans SC", sans-serif;
}

/*---- MEDIA QUERIES ----*/
@media screen and (min-width: 400px) and (max-width: 900px) {
  #navbar {
    width: 25%;
  }
  #welcome > h1 {
    font-size: 2.5rem;
  }
  .navlink {
    font-size: 0.75rem;
  }
}
