@forward '../base/reset';

@forward '../utils/animations';

@forward '../layout/navigation';

@forward '../utils/classes';

@use '../base/typography' as t;

@use '../utils/variables' as v;

@use '../utils/mixins' as m;

/*CARAVAGGIO SECTION*/
#caravaggio_section {
  @include m.page--colors(#0e1111, none);
  @include m.animation(intro, 1s, ease-in, 0s, forwards);

  img {
    object-fit: contain;
    opacity: 0;
    animation: intro 1s ease-in 2.5s forwards;
    margin: auto;
    align-self: center;
  }

  nav {
    @include m.navbar;
    @include m.page--colors(#b20000, #0e1111);
    @include m.animation(show-up, 1s, ease-in, 1s, forwards);
  }

  a.navlink,
  a.navlink:visited {
    color: #0e1111;
  }
}

/*---- MEDIA QUERIES ----*/
@media (max-width: 700px) {
  #caravaggio_section {
    nav {
      width: 30%;
    }
    .navlink {
      font-size: 0.6rem;
    }
  }
}

@media (max-width: 400px) {
  #caravaggio_section {
    nav {
      width: 30%;
    }
    .navlink {
      font-size: 0.2rem;
    }
  }
}

/*LAYOUT*/
#caravaggio {
  @include m.grid(
    repeat(6, 100vh),
    60% 40%,
    "pic-1 info-1" "pic-2 info-2" "pic-3 info-3" "pic-4 info-4" "pic-5 info-5"
      "pic-6 info-6"
  );
}

#crucifixion {
  @include m.grid-child(pic-1, 60%, 100%);
}
#info-1 {
  @include m.pic-info(info-1);
}

#la_inspiracion {
  @include m.grid-child(pic-2, 50%, 100%);
}
#info-2 {
  @include m.pic-info(info-2);
}

#las_7_obras {
  @include m.grid-child(pic-3, 50%, 100%);
}
#info-3 {
  @include m.pic-info(info-3);
}

#prendimiento {
  @include m.pic-info(pic-4);
}
#info-4 {
  @include m.pic-info(info-4);
}

#incredulidad {
  @include m.pic-info(pic-5);
}
#info-5 {
  @include m.pic-info(info-5);
}

#san_juan_bautista {
  @include m.pic-info(pic-6);
}
#info-6 {
  @include m.pic-info(info-6);
}
