@use '../base/typography' as t;
@forward '../utils/animations';
@use '../utils/mixins'as m;

a.navlink,
a.navlink:visited {
  font-family: t.$general-font;
  font-size: 0.9rem;
  @include m.animation(intro, 1s, ease-in, 2.5s, forwards);
  opacity: 0;
  text-decoration: none;
  text-align: center;
  color: #2c3e50;
  font-family: t.$general-font;
}
